
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
* {
	margin:0;
	padding:0;
	border:0;
}

html {
	overflow-y:scroll;
	font-size:10px;		
}

body {
	-webkit-text-size-adjust: none;
	padding-left:10px; /* tilespace */
	padding-top:10px; /* tilespace */
	font-family:"Didact Gothic",arial,helvetica,sans-serif;
	font-size:1.100em;
	line-height:1.800em;
}

ul {
	list-style: none;
}

table {
	border-collapse:collapse;	
}

:-moz-any-link:focus {
  outline: none;
}

a {
	text-decoration:underline;
	color: black;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline:none;
}

a:hover {
	text-decoration:none;
	color:#000;
}

a:active, a:selected, a:focus {
   border: none;
   outline: none;
}

h1 {
	font-weight:normal;	
	font-family: 'Didact Gothic', sans-serif;
	font-size:2.2em;
}

h2 {
	font-weight:normal;	
	font-family: 'Didact Gothic', sans-serif;
	font-size:1.6em;
}


div#page {
	margin:0 auto;
	width: 1248px; /* tilespace */
	min-width: 1248px;	/* tilespace */
}

img {
	image-rendering: optimizeQuality;  /* Firefox 3.6+; default behavior is identical, no need to specify */
 	-ms-interpolation-mode: bicubic;
margin-top: 6px;  
}

video {
	image-rendering: optimizeQuality;  /* Firefox 3.6+; default behavior is identical, no need to specify */
 /*	-ms-interpolation-mode: bicubic;    Internet Explorer 7.0; default in IE8+ */
}

.large {
	font-size:2.2em;	
}

span.line {
	font-size:1em;
/*	padding:0px 4px 0px 4px;*/
	padding:0 .3em 0 .3em;
	height:1.38461em;
	line-height:1.23076em;
	vertical-align:middle;
	color:#fff;
	opacity:1;
	display:block;
	float:left;
	clear:both;
	white-space:nowrap;	/* fixes bug in mobile safari and explorer */
	font-family: 'Didact Gothic', sans-serif;
}

span.line-page {
	background-color: rgba(0, 0, 0, 1);
	font-size:1.2em;
}

/* header with menu */

div#header {
	overflow:auto;
	font-family: 'Didact Gothic', sans-serif;
}

div#header div.column {
	float:left;
	width:302px; /* tilespace */
	margin:0 10px 10px 0;
}

/* front page */

div#fullscreen-data > div {
	position: absolute;
	top: 0;
	left: 0;
}

div.fullscreen-image img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
}

body#front div#header {
	z-index: 10;
	position: relative;
}

/* thumbs */

.thumb img {
	width:100%;
	position:relative;
	background-color:#fff; /* fixes ie opacity bug. Must be overriden for special cases, like map */
}

.thumb.border img {
	width:300px; /* tilespace */
	height:199px; /* tilespace */
	border:1px solid #BBB;
}

.thumb div.video video {
	position:relative;
	width:100%;
/*	height:100%;*/
}

.thumb div.video object {
	position:absolute;
	left:-1px;
	width:103%;
	height:103%;
}

div.video a {
	display:block;
}

div.inactive a:hover {
	cursor:default;
}

.pointer * {
	cursor:pointer;
}

.blocktext div.text p * {
	display:inline;	
	background-color: #77ffa6;
	color:#fff;
}

.blocktext.link a {
	text-decoration:none;
}

.blocktext.link a:hover {
	text-decoration:none;
}

.blocktext.link a:hover span.line{
	background-color: #222222;
	color: #ff007f;
}

/* blocks */

div.two-thirds-block img {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
/*	z-index:1;	*/
}

div.two-thirds-block.multiimage img {
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	margin-bottom:10px;
}


div.bigproject {
	margin:0 10px 10px 0; /* tilespace */
	width:614px; /* tilespace */
	overflow:hidden;
	position:relative;
	zoom:1;
	z-index:0;
	float:left;
}

div.bigproject img {
	width:100%;
	background-color:#fff; /* fixes ie opacity bug. Must be overriden for special cases, like map */
}

div.bigproject.border img {
	width:614px;
	background-color:#fff; /* fixes ie opacity bug. Must be overriden for special cases, like map */	
}

/* single project */

div.projectposter img {
	width:100%;
	background-color:#fff; /* fixes ie opacity bug. Must be overriden for special cases, like map */	
}

div.projectposter.border img {
	width:927px;
	background-color:#fff; /* fixes ie opacity bug. Must be overriden for special cases, like map */	
}

/* thumb rollover layers */

div.info {
/*	max-width:226px;  246 - 2x10 i padding */
	background-color: rgba(0, 0, 0, 0.5);
	width:100%;
	position:absolute;
	z-index:2;
/*	background-color:#FFF;*/
	height:auto;
	min-height:0;	
/*	visibility:hidden;*/
/*	display:none;*/
	font-weight:bold;
	font-family: 'Didact Gothic', sans-serif;
	padding:4px;	
/*	font-size:1.3em;
	line-height:1.8em;*/
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; /* fixes an ie bug with opacity over flash videos */
	filter:alpha(opacity=99);	
}

div.info div.infotext {
	padding:4px;
	font-size:0.5em;
	float:none;
	clear:both;	
}

div.info.on div.infotext {
	visibility:visible;
	display:block;
}

div.info.clickable {
	cursor:pointer;
	margin-top:6px;
}


.thumb.border div.info {
	max-width:238px; /* tilespace */
	margin:1px;

}


div#paginator #next-page.js a {
	display:inline-block;
}

div.info div.infotext h1 {
	float:left;
	margin-bottom:18px;	
	clear:both;
}

div.info div.infotext h1 span.line {
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bold;
	font-size:28px;	
	line-height:36px;
	height:36px;
	padding: 0 8px;
}

div.info div.infotext.statement span.line {
	font-size:28px;	
/*	font-weight:normal;*/
	line-height:36px;
	height:38px;
	padding:0 8px;
}

div.info a {
	color:#FFF;
	background-color:#000;
}

div.info a:active, div.info a:selected, div.info a:focus{
   border: none;
   outline: none;
}


.button a {
	font-size:1.3em;
	padding:0 .3em 0 .3em;
	height:1.38461em;
	line-height:1.23076em;
	text-decoration:none;
	color:#FFF;
	background-color:#000;
	display:block;
	float:left;
/*	clear:both;*/
}

.button a:hover {
/*	text-decoration:underline;*/
	text-decoration:none;
	color:#000;	
	background-color:#fff;
/*	border:1px solid #000;
	margin:-1px 0px;*/
/*	font-weight:normal;*/	
}

.button.clearbutton a {
	clear:both;
}

.button.left a {
	margin-right:10px;
}

/* slide, nojs */

div.slide-wrap img {
	width:100%;
}

body#project.js div.slide-wrap img {
	width:100%;
	height:100%;	
}

div.slide-wrap div.slideimagewrapper div.info {
/*	max-width:919px;*/
	position:absolute;
	z-index:3;
	width:auto;
}

div.slide-wrap div.slideimagewrapper.portrait div.info {
}

img.logo {
	height:5.4em;
}

ul.menu {

}

ul.menu a {
	font-size:1.3em;
	padding:0 .3em 0 .3em;
	height:1.38461em;
	line-height:1.23076em;
	text-decoration:none;
	color:#FFF;
	background-color:#000;
	display:block;
	float:left;
	clear:both;
}

ul.menu a:active, ul.menu, ul.menu a:focus {
   border: none;
   outline: none;
}

ul.menu li {
	margin:0;
	padding:0;
	border:0;
	float:left;
	clear:both;
}

ul.menu li.selected a {
	text-decoration:none;
	color:#000;	
	background-color:#fff;

}


a.blockmenu li {
	font-size:1.3em;
	padding:0 .3em 0 .3em;
	height:1.38461em;
	line-height:1.23076em;
	text-decoration:none;
	color:#FFF;
	background-color:#000;
	display:block;
	float:left;
	clear:both;
}

a.blockmenu:hover li {
	text-decoration:none;
	color:#000;
	background-color:#FFF;
}

ul.menu li.first.selected a {
}

div.mapthumb img {
	background-color:transparent;
}

form#mailchimpsignupIndexForm div.submit input {
	position:absolute;
	top:0;
	left:13.5em;	
	margin:0;
	height:1.8em;
	font-size:1.1em;	
	font-family: 'Didact Gothic', sans-serif;
	outline: none;		
	background-color:#000;
	color:#FFF;
	padding:.1em .4em .3em;	
	border:0;
	cursor:pointer;
	width: auto;
	overflow: visible;
	-webkit-appearance: none;
}

form#mailchimpsignupIndexForm div.submit input:hover {
	background-color:#FFF;
	color:#000;
}

form#mailchimpsignupIndexForm div.submit input::-moz-focus-inner {
	padding:0 !important;
}

#pageimage img {
	position:absolute;
	top:0;
	left:0;
}

.clear {
	clear:both;
	overflow:hidden;
}

.article {
	min-width: 600px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}